._loading_overlay_wrapper.css-79elbk {
  width: 100%;
  
  form.ui.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .ui.fluid.multiple.search.selection.dropdown {
      width: 32%;
      height: 60px;
      margin: 5px;
      @media (max-width: 992px) {
        width: 48% !important;
      }
      @media (max-width: 580px) {
        width: 100% !important;
        height: 40px;
      }
      
    }
    .ui.fluid.search.selection.dropdown {
      width: 32%;
      height: 60px;
      margin: 5px;
      @media (max-width: 992px) {
        width: 48% !important;
      }
      @media (max-width: 580px) {
        width: 100% !important;
        height: 40px;
      }
    }
  }
}

.ant-calendar-picker {
  width: 50%;
  display: flex;

  .ant-input {
    width: 80% !important;

    .ant-calendar-range-picker-input {
      @media (max-width: 500px) {
        width: 50% !important;
      }
    }
  }
}

.ant-calendar-date-panel {
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}
