.ant-calendar-picker {
  width: 100%;
  display: flex;

  .ant-input {
    width: 100% !important;

    .ant-calendar-range-picker-input {
      @media (max-width: 500px) {
        width: 50% !important;
      }
    }
  }
}

.ant-calendar-date-panel {
  @media (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}
