.side-nav {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: baseline;
}
.side-nav-items {
  position: fixed;
}
.center-api-column {
  display: flex;
}
.left-article {
  padding: 2rem;
  margin-left: 25rem;
  width: 47%;
}
.right-article {
  padding: 2rem;
  width: 47%;
}
.articles-examples {
  display: flex;
  flex-direction: row;
}
