.Dashboard {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  .profile-pic {
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
  }

  button {
    width: 200px;
    padding: 20px 30px;
    margin: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    font-size: 18px;

    &:hover {
      background: black;
      color: white;
    }
  }
}
