@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


.footer {
    background-color: #1a1e23;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 20% 1rem 20%;

    @media (max-width: 808px){
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 500px){
        p{
            font-size: 11px;
        }
    }
    
    p {
        color: rgba(255, 255, 255, 1);

        span {
                color: #e84c3d !important;
            }
    }
    
    .icons {

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            padding: 0 1.5rem 0 1.5rem;
        }
    }

    
}