@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


footer {
    background-color: #1a1e23;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 2rem 20% 1rem 20%;
    
    p {
        color: rgba(255, 255, 255, 1);

        span {
                color: #e84c3d !important;
            }
    }
    
    .icons {
        

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            padding: 0 1rem 0 1rem;
        }
    }

    
}